.home_btn {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 50px;
}
.home_link {
	color: rgb(255, 255, 255);
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: left;
}
