.faq-row__container {
	max-width: 1678px;
	margin: 0 auto;
	padding: 0 15px;
}

.faq-page__title {
	position: relative;
	color: rgb(255, 255, 255);
	font-family: Inter;
	font-size: clamp(60px, 6vw, 120px);
	font-weight: 600;
	line-height: 110px;
	letter-spacing: 0%;
	margin-top: 85px;
}
.faq-row__list {
	display: flex;
	justify-content: space-between;
	margin-top: clamp(100px, 15vw, 286px);
	flex-wrap: wrap;
}
.faq-row__element {
	display: flex;
	align-items: center;
	gap: 30px;
	cursor: pointer;
}
.faq-row {
	position: relative;
}
.faq-row__title {
	color: #fff;
	font-family: Inter;
	font-size: 35px;
	font-size: clamp(25px, 2.124vw, 35px);
	font-weight: 400;
	line-height: 40px;
}
.faq-row__title-named {
	color: #fff;
	font-family: Inter;
	font-size: 35px;
	font-weight: 600;
	line-height: 40px;
	margin-top: 90px;
	margin-bottom: 60px;
}
.account {
	padding: 0 20px;
}

@media (max-width: 987px) {
	.Investment {
		margin: 25px auto 0 auto;
	}
}
@media (max-width: 603px) {
	.Investment {
		margin: 0;
	}
	.account {
		padding: 0;
	}
	.faq-row__list {
		flex-direction: column;
		gap: 20px;
	}
}
