$max-width: calc(1920px - 135px - 105px);
.news {
	padding-top: clamp(60px, 5vw, 100px);
}
.news__container {
	max-width: $max-width;
	padding: 0 15px;
	margin: 0 auto;
}
.news__title {
	color: rgba(160, 0, 48, 0.3);
	font-family: Inter;
	font-size: clamp(55px, 7.9vw, 150px);
	font-weight: 600;
	line-height: clamp(30px, 5.9vw, 110px);
	margin-bottom: clamp(40px, 4vw, 80px);
	@media (max-width: 361px) {
		font-size: clamp(35px, 7.9vw, 55px);
	}
}
.news__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.news__row-element img {
		width: 100%;
	}
}
.margin-left {
	margin-left: 15px;
	@media (max-width: 1105px) {
		margin-left: 0;
	}
}

.news__row-element {
	background-color: rgb(49, 0, 15);
	margin-bottom: 40px;
}
.news__row-title {
	color: rgb(255, 255, 255);
	font-family: Inter;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	margin-top: 10px;
	margin-left: 20px;
}
.news__row-subtitle {
	margin-top: 15px;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 35px;
	margin-left: 20px;
	padding-bottom: 20px;
	@media (max-width: 530px) {
		br {
			display: none;
		}
	}
}
.news-btn {
	a {
		color: rgb(255, 255, 255);
		font-family: Inter;
		font-size: clamp(16px, 0.8vw, 18px);
		font-weight: 600;
		line-height: 30px;
		padding: 9px 15px;
		background-color: #dc052d;
		border-radius: 30px;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	}
	max-width: 158.39px;
	margin: 0 auto;
}
